@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  width: 95%;
  background-color: teal;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  min-height: 100vh;
}
